image boot.ext2 {
   ext2 {}
   size = 10M
   mountpoint = "/"
}

image sdcard.img {
   hdimage {
   }

   partition u-boot {
      in-partition-table = "no"
      image = "{{ board.uboot_image }}"
      offset = 8192
      size = 1040384 # 1MB - 8192
   }

   partition boot {
      partition-type = 0xC
      bootable = "true"
      image = "boot.ext2"
   }

   partition rootfs {
      partition-type = 0x83
      image = "{{ board.rootfs_path }}"
   }
}
