busybox {
   name: "Busybox";
   path: "{{ busybox.path }}";

   fetch {
      artifact {
         url: "{{ busybox.url }}";
         compression: {% for compression in  busybox.compressions -%}
            "{{ compression }}"{% if not loop.last %}, {% endif %}
            {%- endfor %};

         {%- if busybox.pgp_signature and busybox.pgp_pubkey %}
         pgp-signature: "{{ busybox.pgp_signature }}";
         pgp-pubkey: "{{ busybox.pgp_pubkey }}";
         {%- endif %}
      }
   }
}
