genimage {
   name: "Genimage";
   path: "{{ genimage.path }}";

   fetch {
      git {
         url: "git://git.pengutronix.de/genimage",
              "https://git.pengutronix.de/git/genimage";
         tag: "v9";
      }
   }
}
