kernel{{ kernel.suffix }} {
   name: "{{ kernel.name }}";
   path: "{{ kernel.path }}";

   fetch {
      artifact {
         url: "{{ kernel.url }}";
         compression: {% for compression in  kernel.compressions -%}
            "{{ compression }}"{% if not loop.last %}, {% endif %}
            {%- endfor %};
      }
   }
}
