kernel{{ kernel.suffix }} {
   name: "{{ kernel.name }}";
   path: "{{ kernel.path }}";

   fetch {
      artifact {
         url: "{{ kernel.url }}";
         compression: {{ kernel.compressions }};
      }
   }
}
