toolchain {
   name: "{{ toolchain.name }} toolchain";
   path: "{{ toolchain.path }}";

   fetch {
      artifact {
         url: "{{ toolchain.url }}";
         compression: {% for compression in  toolchain.compressions -%}
            "{{ compression }}"{% if not loop.last %}, {% endif %}
            {%- endfor %};

         {%- if toolchain.sha256 %}
         sha256: "{{ toolchain.sha256 }}";
         {%- endif %}
      }
   }
}
