uboot {
   name: "Das Universal Bootloader";
   path: "{{ uboot.path }}";

   fetch {
      artifact {
         url: "{{ uboot.url }}";
         compression: {% for compression in  uboot.compressions -%}
            "{{ compression }}"{% if not loop.last %}, {% endif %}
            {%- endfor %};

         {%- if uboot.pgp_signature and uboot.pgp_pubkey %}
         pgp-signature: "{{ uboot.pgp_signature }}";
         pgp-pubkey: "{{ uboot.pgp_pubkey }}";
         {%- endif %}
      }
   }
}
